{% extends 'events/agreements/agreement_form.html' %}



{% block legal_body %}
    <h3>MLZ Photo Release</h3>
    <p>
        I hereby consent to the photographic, audio and video recording of my performance or presentation at MLZ.
        The term "performance or presentation" includes any material incorporated therein including but not limited
        to text, images and references.
    </p>
    <p>
        I hereby grant MLZ a royalty-free license to use my image and name as well as the aforementioned recordings,
        in whole or in part, and to broadcast or distribute same in any format, in the furtherance of MLZ's scientific
        and educational mission. I agree to the modification of the afore-mentioned recordings provided that the
        substance of the performance or presentation is preserved.
    </p>
    <p>
        I hereby confirm that the content of my performance or presentation does not infringe the copyright,
        intellectual property or privacy rights of any third party. I have cited and credited any third party
        contribution in accordance with applicable professional standards and legislation in matters of attribution.
    </p>
{% endblock %}